

        * {
            margin: 0;
            padding: 0;
        }        
        
        body {
            font-family: 'Outfit', sans-serif;
        }

        p, li {
            color:#39659E;
            font-size: 16px;
        }

        .titulo-azul {
            color: #223C5E
        }

        #titulo-principal {
            color: #29429E;
            font-size: 45px;
            line-height: 55px;
            font-weight: 600;
        }

        .pictures {
            border-radius: 50%;
        }

        h2 {
            font-size: 28px;
            line-height: 42px;
            font-weight: 600;
        }

        li {
            font-size: 16px;
            line-height: 1.4em;
            list-style-type: square;
        }

        .green-button {
            background-color: #6CADC4;
            padding: 15px 30px;
            color: #fff;
            text-decoration: none;
            border-radius: 4px;
            display: block;
            margin: 50px auto;
            width: 100px;
            text-align: center;
        }

        h3 {
            font-weight: 400;
        }

        #header {
            background-image: url(/vila.webp);
            height: 600px;
            background-size: cover;
            background-position: 50% 05%;
            padding: 100px 200px;
            
        }

        #header-text {
            width: 40%;
        }

        #header-text p {
            margin: 20px 0;
            color: #20343B;
        }

        #market {
            text-align: center;
            padding-bottom: 50px;
        }

        #market p {
            margin: 20px 0;
        }

        #market-text {
            width: 50%;
            margin: auto;
        }

        .section-title {
            margin: 50px 0;
        }

        #testmonials {
            width: 60%;
            margin: auto;
            text-align: center;
        }

        .student-testmonial {
            width: 30%;
            display: inline-block;
            text-align: center;
            vertical-align: middle;
            margin: 10px;            
        }

        .student-testmonial img {
            width: 120px;
        }

        .student-testmonial p {
            margin: 30px 30px;
        }




        

