body {
    font-size: 16px;
    text-align: center;
}
h1 {
    color: brown;
    font-family: sans-serif;
    line-height: 50px;
    text-decoration: underline;
    background-color: lightcoral;
}
ul {
    background-color: gray;
}
p {
    font-weight: 600;
    font-size: 3em;
    background-color: green;
}            
ul {
    font-style: italic;
}